{% extends 'admin.html' %}

{% block content %}
<h3 class='center-align'>{% block h3 %} Add New {% endblock %}[quote]</h3>
<form action="" method="POST" class="col s12" novalidate>
    {{ form.hidden_tag() }}
    <div class="container">
        {% block q_id_field %}
        {% endblock %}
        <div class="row input-field">
            <i class="material-icons prefix">format_quote</i>
            {{ form.quote_body.label() }}

            {% block q_body_field %}
            {{ form.quote_body(class_='materialize-textarea') }}
            {% endblock %}
        </div>
        <div class="row input-field">
            <i class="material-icons prefix">person_circle</i>
            {{ form.quote_source.label() }}

            {% block q_source_field %}
            {{ form.quote_source() }}
            {% endblock %}
        </div>
        <div class="row center-align">
            {# Check for any flashed messages #}
            {% with messages = get_flashed_messages() %}

            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>
                    <span class=""><b>{{ message }}</b></span>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        <div class="row center-align input-field">
                {% block update_content %}
                {{ form.quote_submit(class_='btn waves-light deep-orange lighten-2') }}
                {% endblock %}
        </div>

    </div>
</form>
{% endblock %}

{# overrides h_val in admin.html #}
{% block h_val %}
{% endblock %}