{% extends 'admin.html' %}

{% block content %}
<h3 class='center-align'>{% block h3 %}Add New {% endblock %}[quote_tag]</h3>

{# validation handled by WTForms #}
<form action="" method="POST" class="col s12" novalidate>
    {{ form.hidden_tag() }}
    <div class="container">
        {% block input_rows %}
        <div class="row input-field">
            <i class="material-icons prefix">format_quote</i>
            {{ form.quote_id.label() }}
            {% block q_id_field %}
                {{ form.quote_id() }}
            {% endblock %}
        </div>
        <div class="row input-field">
            <i class="material-icons prefix">note</i>
            {{ form.tag_id.label() }}
            {{ form.tag_id() }}
        </div>
        {% endblock %}
        <div class="row center-align">
            {# Check for any flashed messages #}
            {% with messages = get_flashed_messages() %}

                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>
                        <span class=""><b>{{ message }}</b></span>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        </div>
        <div class="row">
            <div class="col s5"></div>
            <div class="col s2">
                {% block q_t_button %}
                    {{ form.quotetag_submit(class_='btn waves-light deep-orange lighten-2') }}
                {% endblock %}
            </div>
            <div class="col s5"></div>
        </div>

    </div>
</form>
{% endblock %}


{% block h_val %}
{% endblock %}